@{
    ViewBag.Title = "About";
}


<html>
<body>
    <h1>1BHK Flats</h1>
    <div class="row">
        <div class="col-md-4">
            <p>
                Contact details:
                <br />
                1) Name: Stella Mary
                <br />

                Address : No.25 Chendur Apartments,
                <br />

                Anna Nagar,
                <br />
                Chennai.
                <br />
                Price:15000
                <br />
                Contact no:8963251422
                <br />

                <a href="~/1bhkf.aspx">Book Now</a>
            </p>
        </div>
        <div>
            <a href="~/1bhkfi.aspx ">

                <img src="https://5.imimg.com/data5/QP/DX/FM/SELLER-64090321/1bhk-flat-ready-move-500x500.jpg" width="300" height="400" />
            </a>
        </div>
    </div>


    <h1>1BHK Flats</h1>
    <div class="row">
        <div class="col-md-4">
            <p>
                Contact details:
                <br />
                1) Name: Anitha Shankar
                <br />

                Address : 54,Kaviya Apartments,
                <br />

                Mogappair,
                <br />
                Chennai.
                <br />
                Price:8000
                <br />
                Contact no:8963821422
                <br />

                <a href="~/1bhkf1.aspx">Book Now</a>
            </p>
        </div>
        <div>
            <a href="~/1bhkf1i.aspx">

                <img src="https://is1-3.housingcdn.com/01c16c28/cee0f70134336fa16343bfc98978be8f/v0/medium/1_bhk_apartment-for-sale-parel-Mumbai-living_room.jpg" width="300" height="400" />
            </a>
        </div>
    </div>


    <h1>1BHK Flats</h1>
    <div class="row">
        <div class="col-md-4">
            <p>
                Contact details:
                <br />
                1) Name: Sathya Prakash,
                <br />

                Address : 77,Madhura Apartments,
                <br />

                Poonthamalli,
                <br />
                Chennai.
                <br />
                Price:10000
                <br />
                Contact no:9976295752
                <br />

                <a href="~/1bhkf2.aspx">Book Now</a>
            </p>
        </div>
        <div>
            <a href="~/1bhkf2i.aspx">

                <img src="https://ariesgreenindia.files.wordpress.com/2016/02/1bhk-flats.jpg" width="300" height="400" />
            </a>
        </div>
    </div>


    <h1>1BHK Flats</h1>
    <div class="row">
        <div class="col-md-4">
            <p>
                Contact details:
                <br />
                1) Name: Nithya Priya,
                <br />

                Address : Flat no 5,Krishna Apartments
                <br />

                Kannakuruchi,
                <br />
                Salem.
                <br />
                Price:7500
                <br />
                Contact no:986507006
                <br />

                <a href="~/1bhkf3.aspx">Book Now</a>
            </p>
        </div>
        <div>
            <a href="~/1bhkf3i.aspx">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ93IuTB5Au6uklu54ptqcQ6SZdvLKWN6Wrqg&usqp=CAU" width="300" height="400" />
            </a>
        </div>
    </div>
</body>
</html>