@{
    ViewBag.Title = "Contact";
}
<br />
<br />
<br />


<div class="col-md-4">


    <p>Entrance View </p>
    <img src=" https://mediacdn.99acres.com/media1/14797/15/295955224O-1619259066871.jpg" width="300" height="400" />
</div>
<div class="col-md-4">


    <p> Hall View</p>
    <img src="https://mediacdn.99acres.com/media1/14797/15/295955222O-1619259066844.jpg" width="300" height="400" />
</div>

<div class="col-md-4">


    <p> Kitchen View </p>
    <img src="https://mediacdn.99acres.com/media1/14797/15/295955240O-1619259071057.jpg" width="300" height="400" />
</div>

<div class="col-md-4">


    <h5> BedRoom View</h5>
    <img src="https://mediacdn.99acres.com/media1/14797/15/295955236O-1619259070195.jpg" width="300" height="400" />
</div>

<div class="col-md-4">


    <h5>Balcony View</h5>
    <img src="https://mediacdn.99acres.com/media1/14797/15/295955228O-1619259070009.jpg" width="300" height="400" />
</div>
<div class="col-md-4">


    <h5>Bathroom View</h5>
    <img src="https://mediacdn.99acres.com/media1/14797/15/295955234O-1619259070162.jpg" width="300" height="400" />
</div>







@*<img src="https://mediacdn.99acres.com/media1/14797/15/295955224O-1619259066871.jpg" width="300" height="400" />*@
@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@