@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>House Rent Management</h1>
    <p class="lead">Online House Rent Management</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <a href="~/Account/Register">1BHK FLATS</a>

        <p>

        </p>
        <a href="~/Home/About">

            <img src="https://5.imimg.com/data5/QP/DX/FM/SELLER-64090321/1bhk-flat-ready-move-500x500.jpg" width="300" height="400" />
            </a>
</div>
    <div class="col-md-4">
        <a href="~/Account/Register">2BHK FLATS</a>

        <p> </p>
        <a href="~/2bhkf.aspx">
        <img src="https://i.ytimg.com/vi/d1LaDgJpvJ0/maxresdefault.jpg " width="300" height="400"/>
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Account/Register">3BHK FLATS</a>
        <p> </p>
        <a href="~/3bhkf.aspx"/>
            <img src="https://d1q6pqvn5tdr0p.cloudfront.net/47543/medium/3-(2).jpg" width="300" height="400" />
    </div>
    <br />
    <br />
    <div class="col-md-4">
        <a href="~/Account/Register">1BHK FLATS With Furnitures</a>
        <p> </p>
        <img src="https://www.cjinterio.com/images/1bhk-p1.jpg" width="300" height="400" />

    </div>
    <div class="col-md-4">
        <a href="~/Account/Register">2BHK FLATS With Furnitures</a>
        <p> </p>
        <img src=" https://st.hzcdn.com/simgs/pictures/dining-rooms/2bhk-flat-interior-in-nerul-navi-mumbai-delecon-design-co-img~b58166ec08a591ff_9-3344-1-7553256.jpg" width="300" height="400" />
    </div>
    <div class="col-md-4">
        <a href="~/Account/Register">3BHK FLATS With Furnitures</a>
        <p> </p>
        <img src=" https://jumanji.livspace-cdn.com/magazine/wp-content/uploads/sites/2/2020/03/20031959/3-BHK-Flat-Interior-Design-Opening-Image.jpg" width="300" height="400" />
    </div>
</div>